<%= render 'shared/error_messages', object: resource %>
<div class="columns is-mobile is-centered">
  <div class="column is-narrow">
    <h4 class="title is-4 has-text-centered">
      <%= t('.header') %>
    </h4>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :first_name, class: 'label' %>
        <div class="control">
          <%= f.text_field :first_name, class: 'input', required: true, autofocus: true, autocomplete: 'given-name', placeholder: 'John' %>
        </div>
      </div>
      <div class="field">
        <%= f.label :last_name, class: 'label' %>
        <div class="control">
          <%= f.text_field :last_name, class: 'input', autocomplete: 'family-name', placeholder: 'Doe' %>
        </div>
      </div>
      <div class="field">
        <%= f.label :cpf, class: 'label' %>
        <div class="control">
          <%= f.text_field :cpf, class: 'input', required: true, autocomplete: 'on', placeholder: '123.456.789-00' %>
        </div>
      </div>
      <div class="field">
        <%= f.label :phone_number, class: 'label' %>
        <div class="control">
          <%= f.phone_field :phone_number, class: 'input', required: true, autocomplete: 'phone', placeholder: '+55 00 99999-9999' %>
        </div>
      </div>
      <div class="field">
        <%= f.label :email, class: 'label' %>
        <div class="control">
          <%= f.email_field :email, class: 'input', required: true, autocomplete: 'email', placeholder: 'john@doe.com' %>
        </div>
      </div>
      <div class="field">
        <%= f.label :password, class: 'label' %>
        <div class="control">
          <%= f.password_field :password, class: 'input', required: true, autocomplete: 'new-password' %>
          <% if @minimum_password_length %>
            <p class="help">
              <%= t('.minimum_characters', length: @minimum_password_length) %>
            </p>
          <% end %>
        </div>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, class: 'label' %>
        <div class="control">
          <%= f.password_field :password_confirmation, class: 'input', required: true, autocomplete: 'new-password' %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.submit t('.sign_up'), class: 'button is-primary is-fullwidth' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'devise/shared/links' %>
